<section class="resultado">

  @if (esPanini()) {
  <div class="card-wrap">
    <div class="card-container" #cardRef>
      <img class="card-bg" src="panini.png" alt="Panini background" />
      <div class="card-fallback"></div>
      <img class="card-player-img" [src]="imagenUrl()" alt="Foto jugador" />
      <div class="overlay-name">{{ nombre().toUpperCase() }}</div>
      <div class="overlay-dob">Mundial Social del DIF Oaxaca</div>
    </div>

    <button class="btn-secundario" (click)="imprimir()">🖨️ Imprimir Tarjeta</button>
    <button class="btn-secundario" (click)="nueva()">📸 Crear otra foto</button>
  </div>

  } @else {
  <div class="resultado__content">
    <div class="resultado__imagen-wrap" id="fotoRef" #fotoRef>
      <img [src]="imagenUrl()" alt="Foto con IA" class="resultado__imagen" />
      <img src="pleca_mundial.png" alt="Banner" class="resultado__banner" />
    </div>
    <button class="btn-secundario" (click)="imprimir()">🖨️ Imprimir imagen</button>
    <button class="btn-secundario" (click)="nueva()">📸 Crear otra foto</button>
  </div>
  }

  @if (qrUrl()) {
  <div class="qr-wrap">
    <p class="qr-texto">📲 Escanea para ver tu foto</p>
    <img [src]="qrUrl()" alt="QR" class="qr-img" />
  </div>
  }

</section>